/* You can add global styles to this file, and also import other style files */
img.animated-gif{
  width: 40%;
  height: auto;
}

.button-size{
  width: 10%;
  height: auto;
}

.parentDiv {  
  display: flex; 
  justify-content: center; 
  align-items: center;
} 

body {
    background-color: #000000;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
